<h1>Assalomu Alaykum {{name}},</h1>
<h2>E-pochtangizni tasdiqlash uchun pastdagi linkni bosing</h2>

<p>
  <a href='{{url}}'>Tasdiqlash</a>
</p>

<p>Agar siz ushbu xatni so'ramagan bo'lsangiz, uni e'tiborsiz qoldirishingiz
  mumkin.</p>